

body{
	
    background-size: cover;
    font-family: 'Merienda';font-size: 22px;
    background-image: url("https://images.unsplash.com/photo-1470074558764-4e577e98bc85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80");
    background-color: #cccccc;

}

h1{
    font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
    color: red;
    text-shadow: 3px 3px 0px blue,
	font-family: font-family: 'Merienda';
	font-size: 90px;
	margin-top: 3vh;
    margin-bottom: 1vh;
    color: red;
    
} 

.row{
	margin-bottom: 4vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.btn{
	font-family: 'Merienda';
	font-size: 16px;
	background-color: blue;
	color: white;
	padding: 2vh vw;
}

.btn:hover{
	color: red;
}

.btn:focus{
	outline: 2px solid #efad07 !important;
	background-color: white;
	color: #efad07;
}

.parks-button{
    margin: .5vh 1vw;
    color: gold;
}


.cambria-font{
	font-family: "cursive";
	font-weight: 800;
    color: red;
    
}

.gif-image{
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.individual-gif-container{
	float: left;
	margin: 2vh 3vw 2vh 3vw;
}

#submit{
	margin-top: 1.5vh;
}

#us-states{
	margin-top: 1.5vh;
	width: 100%;
}

#national-parks:focus{
	outline: 2px solid gold !important;
}

#gif-container{
	font-size: 22px;
}
